<!DOCTYPE html>
<html>
    <head>
        <title>走れ三日坊主</title>
    </head>
    <body>
        <h1>{{ td.name }}</h1>
        <p>{{ td.description }}</p>
        <h2>名前入力フォーム</h2>
        <div>
            <form action="/join" method="post">
                名前:
                <input type="text" name="name" placeholder="taro" required> 
                <input type="hidden" name="teamid" value="{{td.id}}">
                <input type="submit" value="参加">
            </form>
        </div>
        
        <h2>参加者一覧</h2>
        <p>
            {% for member in ms %}
                {{ member.name }} 
            {% endfor %}
        </p>
        <h2>運動はじめる</h2>
        <form action="/log" method="post">
            名前:
            <input type="text" name="name" placeholder="taro" required> 
            <input type="radio" name="start_finish" value="start">開始
            <input type="radio" name="start_finish" value="finish">終了
            <input type="hidden" name="teamid" value="{{td.id}}">
            <input type="submit" value="送信">
        </form>
        <h2>TL</h2>
        {% for log in logs %}
            <p>{{ log.datetime }}に{{ log.name }}さんが運動を{{ log.start_finish }}しました!
            </p>
        {% endfor %}
        <a href="/">戻る</a>
    </body>
</html>