<!DOCTYPE html>
<html>
    <head>
        <title>走れ三日坊主</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>走れ三日坊主</h1>
        <p>自分のしたい運動をするグループに入って、他のメンバーと一緒に運動をしている感覚を感じて、共に三日坊主解消を目指しましょう！</p>
        <h2>グループ選択</h2>

        {% for team in teams %} 
            <a href='/detail/{{ team.id }}'>{{ team.name }}</a>
        {% endfor %}

        <h2>グループ追加</h2>

        <form action="/addteam" method="post">
            <p>
                グループ名:
                <input type="text" name="name" size="30" placeholder="運動内容がわかるグループ名" required>
            </p>
            <textarea name="description" rows="4" cols="40" placeholder="グループの具体的な説明 (例:20分お気に入りの散歩道を歩こう!)" required></textarea>
            <input type="submit" value="追加">
        </form>
    </body>
</html>