<!DOCTYPE html>
<html>
    <head>
        <title>走れ三日坊主</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>走れ三日坊主</h1>
        <p>自分のしたい運動をするグループに入って、他のメンバーと一緒に運動をしている感覚を感じて、共に三日坊主解消を目指しましょう！</p>
        <h2>グループ選択</h2>

        {% for team in teams %} 
            <a href='/detail/{{ team.id }}'>{{ team.name }}</a>
        {% endfor %}
        <a href='/detail_sub'>練習detail</a>
    </body>
</html>